<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Jah's Shows to Watch</a>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" a routerLink="showlist">Show List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin" class ="btn btn-danger">Admin</a>
  </div>
</footer>
