
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add show to be watched to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Show Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Network:</label>
        <br>
        <input #newNetwork>
      </div>

      <div>
        <label>Synopsis:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Trailer Link:</label>
        <br>
        <input #newTrailer>
      </div>

      <button (click)="submitForm2(newTitle.value, newNetwork.value, newDescription.value, newTrailer.value); newTitle.value=''; newNetwork.value=''; newDescription.value=''; newTrailer.value=''">Add</button>
    </div>
  </div>
</div>

<div>
  <app-showstowatch></app-showstowatch>
</div>
