
<!doctype html>
<html ng-app>
<body>
  <head>
    <script src="http://code.angularjs.org/1.2.6/angular.min.js"></script>
 </head>



<h2>Shows I need to watch</h2>

<div *ngFor="let shows of showstowatch | async"  class="panel panel-default" [ngStyle]="myStyle">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(shows)"><em>{{shows.title}}</em> on {{shows.network}}</h3>
    <div *ngIf="currentRoute === '/admin2'">
      {{shows.description}}
      <hr>
      <app-edit2-show [selectedShow]="shows"></app-edit2-show>
    </div>
  </div>
</div>
