h3 {
  text-shadow: 1px 1px 2px black, 0 0 1em #72caf9, 0 0 0.2em #72caf9;
  color: white;
  font: 1.5em Georgia, serif;
  font-size: 500%;
}

h4 {
  font-weight: bolder;
  font-size: 300%;
}

h5 {
  font-style: italic;
  font size: 300%;
}
