
<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.6/angular.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
 </head>
 <div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title">{{(showToDisplay | async)?.title}}</h3>
   <h4>On {{(showToDisplay | async)?.network}}</h4>
   <h5>{{(showToDisplay | async)?.description}}</h5>
<a class="btn btn-primary btn-lg" href="{{(showToDisplay | async)?.trailer}}" role="button">Watch Trailer</a>
 </div>
 <div class="panel-body">
